* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --orange_color: #ffac5f;
  --light_color: #f1f1f1;
  --light-blue_color: #6fafea;
  --dark-blue_color: #3162c1;
  --light-grey_color: #939090;
  --dark_color: #000;
  --transition: all 0.3s ease-in-out;
}

.main_bg {
  background-color: var(--light-blue_color);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header_bg {
  background-color: var(--orange_color);
  position: absolute;
  width: 100%;
}

.logo {
  color: var(--dark-blue_color);
}
.logo:hover {
  color: var(--light_color);
  transition: var(--transition);
}

/* Form */

.buttons {
  background-color: var(--orange_color) !important;
}
